body {
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #212427
}

h1 {
    width: fit-content;
    margin: auto;
}

.caixa {
    border-radius: 5px;
}

.pai {
    width: 80%;
    height: 350px;
    place-content: center;
    place-self: center;
    background-color: antiquewhite;
    border: solid 2px #212427;

    
}

.filho {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    text-align: center;
}

.cor1 {
    background-color: #ED145B;
    place-content: start;
    
}

.cor2 {
    background-color: #63B1BC;
    place-self: center;
}

.cor3 {
    background-color: #EFB661;
    place-self: end;
}

.instrucoes {
    width: 80%;
    margin: auto;
    text-align: left;
}

.footer {
    background-color: antiquewhite;
    height: 130px;
    margin-top: 50px;
    padding-top: 20px;
    text-align: center;
}

img {
    width: 20%;
}
